/* width="30%" position="relative" top={0} left="30%" */
.mainContainer {
  padding-top: 0px;
  background-color: brown;
  min-height: 700px;
  max-width: 800px;
}
.contentContainer {
  position: relative;
  padding-top: 80px;
  padding-bottom: 100px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 671px;
  flex: -1;
}
.my-container {
  /* border: solid; */
}
:root {
  --mainDark: #343a40;
  --mainGrey: rgb(248, 244, 244);
  --mainLightGrey: rgba(172, 172, 172);
  --mainWhite: #fff;
  --mainBlue: #007bff;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler {
  border: none;
}
.Links-oben {
  color: aliceblue;

  padding-top: 8px;
}
.my-row {
}
.my-col {
  border: 3px dotted yellow;
}
.my-row-Home {
  padding-top: 30px;
}
.my-col-Login {
  padding-top: 15px;
}
.weeks-list {
  padding-bottom: 5px;
  padding-left: 5px;
}
.report-Überschrift {
  padding-bottom: 100px;
}

.übersicht-Überschrift {
  padding-bottom: 100px;
}

.bearbeiten-btn {
  padding-top: 10px;
  padding-left: 0;
  display: inline;
}
.report-col-btn {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* https://cdn.pixabay.com/photo/2013/02/26/05/36/old-86221_960_720.jpg */
/* https://images.unsplash.com/photo-1450101499163-c8848c66ca85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80 */
.banner {
  background-image: url(https://cdn.pixabay.com/photo/2013/02/26/05/36/old-86221_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  background-position: center center;
  /* max-width: 100%;
  height: 200px; */
  /* background-color: burlywood; */
}
.banner-text {
  text-align: center;
}
.report-col-Tat {
  padding-bottom: 30px;
}
.banner-col-log {
  padding-top: 8px;
}

ul li a {
  color: var(--mainGrey);
}
ul li a:hover {
  color: var(--mainLightGrey);
}
.footer-bottom {
  padding-top: 3re;
  padding-bottom: 2rem;
}
.Links-unten {
  color: aliceblue;
}

ul li {
  color: var(--mainGrey);
}
ul li:hover {
  color: var(--mainLightGrey);
}
.Links-leer {
  padding-top: 24px;
}
.farbe-style {
  display: inline;
  color: aliceblue;
}
.farbe-style:hover {
  color: var(--mainLightGrey);
}
.style-überschrift {
  display: inline;
  color: burlywood;
}
.listOfWeek {
  /* border-left: dotted; */
}
.loading {
  display: inline;
}

.bild-banner {
  background-size: cover;
  width: 1100px;
}

.home-banner {
  background-image: url(https://images.unsplash.com/photo-1585091289622-27e2b4e5d727?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1492&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  background-position: center center;
  /* max-width: 100%;
  height: 200px; */
  /* background-color: burlywood; */
}

.reason-berichtsheft {
  padding-top: 30px;
}
.benoted-berichtsheft {
  padding-top: 20px;
}
.titel {
  padding-bottom: 27px;
}
.app-preloader {
  text-align: center;
}
.app-preloader .spinner {
  display: inline-block;
}
.app-preloader .loading {
  display: block;
}
.test {
  padding-top: 10px;
}
